body{
  background-color: rgb(99, 158, 209);
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 600px;
}
p{
  margin-left: 20px;
  font-size: 18px;
}
.simple-search{
  height: 100px;
  width: 300px;
  border: 1px solid black;
  background-color: rgb(235, 243, 243);
}
.first-box{
  margin-top: 30px;
  margin-left: 30px;
  height: 26px;
  width: 170px;
  font-size: 17px;
  font-style: italic;
}

.second-box{
  height: 140px;
  width: 500px;
  background-color: rgb(242, 249, 249);
  border: 1px solid black;
  margin-top: 20px;

}
.google{
  height: 30px;
  width: 420px;
  border-radius: 23px;
  border: none;
  margin-left: 20px;
  box-shadow: 0px 5px 8px grey;
  padding: 8px 11px;
  font-size: 16px;
}

.linkedin-box{
  width: 370px;
  height: 250px;
  border: 1px solid black;
  margin-top: 30px;
  background-color: white;
}

.linkedin{
  margin-left: 15px;
  width: 320px;
  height: 24px;
}
.linkedin-explanation{
  color: grey;
  font-size: 14px;
  margin-left: 15px;
  
}

.join-button{
  width: 326px;
  height: 35px;
  margin-left: 15px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background-color: rgb(13, 127, 227);
  color: white;
}

.last-twitter{
  height: 120px;
  width: 600px;
  border: 1px solid black;
  margin-top: 30px;
  padding-left: 20px;
  background-color: rgb(228, 225, 225);
}
.cat-profile{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 15px;
}
.cat-input{
  font-size: 17px;
  border: none;
  width: 350px;
  height: 35px;
  padding-left: 10px;
  border-radius: 30px;
  margin-right: 10px;
}
.tweet-button{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}